body{
    font-family: Arial, Helvetica, sans-serif;

}

div{
    /* border: 1px;
    border-color: gray;
    border-style: solid; */
}


.alinediv{
    display: flex;
    justify-content: center;
}

.logoContainer{
    float: left;
    position: relative;
    width: 80%;
    text-align: center;
}

.contactContainer{
    float: right;
    margin: auto;
    position: relative;
    width: 19%;
    right: auto;
    text-align: center;
    display:inline;
}
.logo{
    margin: auto;
    width: 200px;
    padding-left: 240px;
}

.contactUs{
    padding: 15px;
    text-align: center;
    width: 100px;
    border-style: solid;
    margin: auto;
    background-color: #102F6B;
    color: white;
    border: 1px solid black; /* Borde para visualización */
    border-radius: 20px;
}

.contactUs:hover{
    border-color: #102F6B;
    border-style: solid;
    background-color: white;
    color: #102F6B;
    border: 1px solid black;
    border-radius: 20px;
}

#slogan{
    margin: auto;
    position: relative; 
    text-align: center;
    width: 50%;
    top: 28px;
    color: #102F6B;  
}

#introduction{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;  
}

#agentImage{
    float: left;
    position: relative;
    clip-path: circle(50%);
    width: 300px;
    height: 300px;
    background-size: cover;
    top: -100px;
    margin: 15px;
    }

#agentTex{
    margin: auto 95px;
    margin-top: 30px;
    margin-bottom: 0px;
    line-height: 2;
    font-size: 20px;
}

.botonContainer{
    float: left;
    position: relative;
    left: 15px;
    height: 45px;
    display: flex;
    left: -100;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.contactBoton{
    width: 20px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.contactBoton:hover{
    width: 40px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.container2{
    background-color: #102F6B;
    padding-top: 10px;
    width: 100%;

}
.subtittle1{
    color: #F8F8F8; 
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}

.testsubtittle1{
    color: #F8F8F8; 
    margin-top: 10px;
    text-align: center;
}

.apartmentContainer{
    background-color: #F8F8F8;
    width: 260px;
    height: 420px;
    margin: 50px;
    border-radius: 15% 50% 5% 5%;
}

.apartment{
    width: 260px;
    height: 200px;
    border-radius: 12% 12% 0% 60%;
}

.ulApartmen{
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
    line-height: 2.5;
    position: relative;
    top: -25px;
}

.addresApartmen{
    font-size: 30px;
}

.moreDetail{
    padding: 15px;
    text-align: center;
    width: 100px;
    border-style: solid;
    margin: auto;
    background-color: #102F6B;
    color: white;
    border: 1px solid black; /* Borde para visualización */
    border-radius: 20px;
    position: relative;
    top: -30px;

}

.moreDetail:hover{
    border-color: #102F6B;
    border-style: solid;
    background-color: white;
    color: #102F6B;
    border: 1px solid black;
    border-radius: 20px;
}

#container3{
    background-color: #F8F8F8;
    padding-top: 10px;
    width: 100%;
}

#subtittle2{
    color: #102F6B; 
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}

#testsubtittle2{
    margin-top: 10px;
    text-align: center;
}

#imagenBusqueda{
    width: 100%;
    position: relative; /* Establece posición relativa para los elementos hijos */
    top: -100px;
}

#imagenBusqueda img{
    position: absolute;
    clip: rect(103px,auto,517px,auto);
    width: 100%;
    filter: brightness(50%)

}

.footerLeft{
    float: left;
    position: relative;
    width: 50%;
    text-align: center;
    line-height: 0.5;
}

.footerRight{
    float: right;
    position: relative;
    width: 50%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tittleDetail{
    width: 100%;
    height: 110px;
    background-color: #030303;
    text-align: center;
    color: white;
}

.Detail{
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

#propertyImage{
    width: 600px; 
    margin: auto;
}

#propertyText{
    width: 90%;
    margin: auto;
    line-height: 1.5
}

.Seller{
    float: right;
    position: relative;
    text-align: center;
    width: 80%;
    height: 190px;
    margin-right: 32px;
    border: 2px;
    border-color: #102F6B;
    border-style: solid
}

.contacUsForm{
    float: right;
    position: relative;
    text-align: center;
    width: 80%;
    height: 500px;
    margin-right: 32px;
    border: 2px;
    border-color: #102F6B;
    border-style: solid
}

textarea
{
resize: none;
overflow-y: scroll;
height:100px;
border: 2px;
border-color: #102F6B;
border-style: solid
}

input{
    border: 2px;
    border-color: #102F6B;
    border-style: solid
}

.fieldForm{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.bottonform{
    background-color: #102F6B;
    color: white;
    width: 138px;
    padding: 11px;
    margin-top: 10px;
    border-radius: 20px;
}

.mainDetails{
    padding: 5px;
    width: 30%;
    height: 75px;
    text-align: center;
}

#mainDetailsCountainer{
    background-color: #F8F8F8;
    width: 80%;
    margin: auto;
}

.fieldFormContactUs{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    display: inline-block;
    width: 80px;
  }

#containerContactus{
    width: 60%;
    text-align: center;
    margin: auto;
    border: 2px;
    border-color: #102F6B;
    border-style: solid;
    padding: 50px;
}